@charset "UTF-8";
/***************************************************
AUTOR: carmen Luyo
PROYECTO: urbaner
DESCRIPCIÓN: HOJA DE ESTILOS PARA EL HOME PAGE
****************************************************/
@import url(normalize.css);
/* Fonts */
/* Regular */
@font-face {
  font-family: 'ProximaNova';
  src: url("../assets/fonts/ProximaNova.eot");
  src: url("../assets/fonts/ProximaNova.otf");
  src: url("../assets/fonts/ProximaNova.svg");
  src: url("../assets/fonts/ProximaNova.ttf");
  src: url("../assets/fonts/ProximaNova.woff"); }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/** texto centrado verticalmente - necesita un etiqueta padre con alto**/
.centerinfovert {
  display: table;
  width: 100%;
  height: 100%; }
  .centerinfovert .tr {
    display: table-row;
    width: 100%;
    height: 100%;
    vertical-align: middle; }
    .centerinfovert .tr .td {
      display: table-cell;
      vertical-align: middle; }

/** flex **/
.flex-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center; }

a,
input[type=submit],
button,
.transit {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.btn-green {
  background: #40df6d;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 25px; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1140px; }

.subtitle {
  color: #606060;
  font-size: 45px;
  font-family: 'ProximaNova'; }

.green {
  color: #40df6d; }

.blue {
  color: #6caddf; }

footer {
  background: #262f36; }

.banner {
  background-image: url(../assets/img/backgroundHomeD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%; }
  .banner .ctn-banner {
    display: block;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: 'ProximaNova'; }
    .banner .ctn-banner h2 {
      text-transform: uppercase;
      text-shadow: 3px 0px 5px #585858;
      font-size: 2.96em; }
    .banner .ctn-banner p {
      font-size: 1.6em; }
    .banner .ctn-banner .btn-green {
      text-transform: uppercase;
      font-size: 16px;
      margin: 0 20px; }
    .banner .ctn-banner .btn-envios {
      margin-top: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }

.beneficios .subtitle {
  text-align: center;
  margin: 30px 0; }

.beneficios .grid-beneficios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .beneficios .grid-beneficios article {
    font-family: 'ProximaNova';
    width: 30%; }
    .beneficios .grid-beneficios article figure {
      text-align: center; }
    .beneficios .grid-beneficios article h3 {
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      color: #333; }
    .beneficios .grid-beneficios article p {
      line-height: 22px; }

.envios {
  background-color: #f5f5f5;
  padding: 40px 0; }
  .envios .ctn-envios {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .envios .ctn-envios .center-text {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .envios .ctn-envios .center-text article {
        margin: 0 auto;
        width: 63%; }
  .envios .width-50 {
    width: 50%; }
    .envios .width-50 .listPC {
      position: relative;
      height: 330px; }
      .envios .width-50 .listPC figure {
        position: absolute;
        top: 0;
        right: 0; }
        .envios .width-50 .listPC figure img {
          width: 480px;
          position: relative;
          margin: 0 auto; }

.patrocinadores {
  background: #6caddf;
  padding: 30px 0;
  font-family: 'ProximaNova'; }
  .patrocinadores h3 {
    color: white;
    font-size: 24px;
    text-align: center; }
  .patrocinadores .grid-patocinadores {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.ctn-registrate {
  text-align: center;
  padding: 20px 0;
  font-family: 'ProximaNova'; }
  .ctn-registrate p {
    font-size: 1.8em;
    color: #606060; }
  .ctn-registrate a button {
    font-size: 1.3em; }

.reconocimiento {
  background-color: #f5f5f5;
  padding: 70px 0; }
  .reconocimiento .list {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .reconocimiento .list article {
      font-family: 'ProximaNova';
      background: #fff;
      padding: 40px 0 30px 0;
      margin: 40px auto 0 auto;
      width: 45%; }
      .reconocimiento .list article:nth-child(1) {
        border-top: 7px solid #40df6d; }
      .reconocimiento .list article:nth-child(2) {
        border-top: 7px solid #6caddf; }
      .reconocimiento .list article .description {
        margin: 0 auto;
        width: 90%; }
        .reconocimiento .list article .description p {
          color: #b2b2b2;
          text-transform: uppercase; }
        .reconocimiento .list article .description h3 {
          font-size: 24px; }
  .reconocimiento .listStartup {
    font-family: 'ProximaNova';
    margin: 40px auto 0 auto; }
    .reconocimiento .listStartup .ctn-listStartup {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
