/***************************************************
AUTOR: carmen Luyo
PROYECTO: urbaner
DESCRIPCIÓN: HOJA DE ESTILOS PARA EL HOME PAGE
****************************************************/
@import 'normalize.css';
@import 'style.scss';

//header

header {
	padding: 20px 0;
	nav {
		
		ul {
			display:flex;
			flex-direction: row;
			li {
				display: flex;
			   flex-direction: row;
				a {
					color: #fff;
					font-size: 16px;
				}
			}
			.left {
			   	justify-content: flex-start;
			    margin: 0px;
			   .logo {
			   		img {
			   			height: 50px;
			   		}
			   		h1 {
			   			display: none;
			   		}
			   }
			}
			.right {
			   	justify-content: flex-end;
			   	margin-right: 0px;
			   	ul {
			   		li {
			   			margin: 0 23px;
			   			&:last-child {
			   				a {
								border: 2px solid #fff;
								border-radius: 20px;
								color: #fff;
								padding: 10px 35px;
			   				}
			   			}

			   		}
			   	}
			}
		}
	}
}

.switch {
	width: 30px;
    height: 23px;
    position: absolute;
    left: 10%;
    top: 9%;
    margin: -15px 0px 0px -15px;
    cursor: pointer;
    z-index: 10;
 	&.on:after {
  	transform: rotate(-45deg) translate(7px, -8px);
	}
	&.on:before {
	  transform: rotate(45deg) translate(5px, 5px);
	}
	 @media only screen and (min-width: 1024px) {
	 	display: none;
	 }
	.on {
		display: block;
	} 

}
.switch .menu-toggle {
  	width: 100%;
  	height: 5px;
  	background: #fff;
  	margin: 4px auto;
  	@include transition (all 0.3s);
  	backface-visibility: hidden;
}
.switch.on .menu-toggle {
  	opacity: 0;
}
.switch:before, .switch:after {
	content: "";
	display: block;
	height: 5px;
	background: #fff;
	@include transition (all 0.3s);
	backface-visibility: hidden;
}

.banner {
	background-image: url(../assets/img/backgroundHomeD.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    .ctn-banner {
		display: block;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #fff;
		margin: 15% auto 0 auto;
    	width: 80%;
		h2 {
			text-transform: uppercase;
			text-shadow: 3px 0px 5px #585858;
			font-size: 1.8em;
			font-weight: bold;
			line-height:35px;

		}
		p {
			font-size: 1.6em;
			display: none;
		}
		.btn-green {
			text-transform: uppercase;
			font-size: 16px;
			margin: 0 20px;
		}
		.btn-envios {
			margin-top: 20px;
			display: block;
			a:first-child {
				margin-bottom: 25px;
				display: block;
			}
			
		}
    }
    @media only screen and (min-width: 768px) {
		height: 550px;
		.ctn-banner {
			width: 100%;
			margin: 0px;
			top: 30%;
			h2 {
				font-size: 2.96em;
			}
			p {
				display: block;
			}
			.btn-envios {
				display: flex;
				justify-content: center;
				a:first-child {
					display: flex;
					margin-bottom: 0px;
				}
			}
		}
    }
    @media only screen and (min-width: 1024px){
    	.ctn-banner {
    		    top: 20%;
    	}
    }
}


//section beneficios

.beneficios {
	.subtitle {
		text-align: center;
		margin: 30px 0 ;
		display: none;
	}
	.grid-beneficios {
		margin-top: 55px;
		article {
			width: 100%;
			padding: 0 40px;
			figure {
				text-align: center;
			}
			h3 {
				font-weight: 600;
				font-size: 24px;
				text-align: center;
				color: #333;
			}
			p {
				line-height: 22px;
			}
		}
	}
	@media only screen and (min-width: 1024px) {
		.subtitle {
			display: block;
		}
		.grid-beneficios {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 0px;
			article {
				width: 30%;
				padding:0px;
			}
		}
	}
}

//section envios

.envios {
	background-color: #f5f5f5;
	padding: 40px 0;
	.ctn-envios {
		.center-text {
		    align-items: center;
		    display: flex;
		    article {
				margin: 0 auto;
				width: 80%;

			}
		}
		.tabs-envios {
			
			border-radius: 40px;
			overflow: hidden;
			margin-top: 15px;
			li {
				margin: 15px auto;
    			width: 95%;
				text-align: center;
				a {
					border: 1px solid;
    				border-radius: 10px;

					background: #fff;
					color: $colorWeb;
					cursor: pointer;
					display: block;
					transition: all 0.5s ease;
					padding: 10px 25px;
				}
				.activeImg {
				    background: $colorWeb !important;
				    border-radius: 10px !important;
				    color: #fff !important;
				}
			}
		}
		
	}
	.width-50 {
		
		
		.listPC {
			position: relative;
			height: 180px;

			figure {
			    position: absolute;
			    top: 0;
			    right: 0;
			    img {
					position: relative;
					margin: 0 auto;
					width: 250px;
			    }
			}
		}
	}
	@media only screen and (min-width: 1024px) {
		.ctn-envios {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			.width-50 {
				width: 50%;
				.listPC {
					height: 330px;
					figure {
						img {
							width: 480px;
						}
					}
				}
			}
			.center-text {
				article {
					width: 67%;
				}
			}
			.tabs-envios {
				border: 2px solid $colorWeb;
				margin-top: 50px;
				li {
					float: left;
					margin: 0;
					width: 33.3%;
					.activeImg {
						border-radius: 30px !important;
					}
					a {
						border: none;

					}
				}
			}
		}
	}
}

// patrocinadores

.patrocinadores {
	background: #6caddf;
    padding: 30px 0;
    h3 {
    	color: white;
    	font-size: 24px;
    	text-align: center;
    	margin-top: 20px;
    }
    .grid-patocinadores {
		
		display: block;
    	text-align: center;
    }
	@media only screen and (min-width: 768px){
		.grid-patocinadores {
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			display: flex;
		}
	}
}

//

.ctn-registrate {
	text-align: center;
	padding: 20px 0;
	p {
		
		color: #606060;
	    font-size: 1.5em;
		margin-top: 20px;
		padding: 0 25px;
		line-height: 30px;
	}
	h2 {
		margin: 20px 0 5px 0;
	}
	a {
		button {
			font-size: 1.3em;
			font-weight: bold;
		}
	}
	@media only screen and (min-width: 1024px) {
		p {
			font-size: 1.8em;
			margin-top:0px;
			padding: 0;
			line-height: normal;
		}
	}
}

//

.reconocimiento {
	background-color: #f5f5f5;
	padding: 70px 0;
	.list {
		display: block;
		article {
			background: #fff;
		    padding: 40px 0 30px 0;
		    margin: 40px auto 0 auto;
		    width: 90%;
			&:nth-child(1){
				border-top: 7px solid $colorWeb;
			}
			&:nth-child(2){
				border-top: 7px solid #6caddf;
			}
			.description {
				margin: 0 auto;
				width: 90%;
				p {
					color: #b2b2b2;
					text-transform: uppercase;
				}
				h3 {
					font-size: 24px;
					font-weight: bold;
				}
				
				
			}
			
		}
	}
	
	.listStartup {
		margin: 40px auto 0 auto;
		width: 89%;
		.ctn-listStartup {
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			display: flex;
			figure {
				margin-top: 20px;
			}

		}
	}
	@media only screen and (min-width: 1024px) {
		.list {
			justify-content: space-around;
			display: flex;
			article {
				width: 45%;
			}
		}
	}
}

//
//

footer {
	color: #fff;
	padding: 50px 0 10px;
	@media only screen and (max-width: 768px){
		.row {
			margin: 0px;
		}
		.col-4{
			width: 94%;
			margin: 0 auto;
			float: none;
			text-align: center;
			&:after{
				display: block;
				content: " ";
				clear: both;
			}
		}
	}
	.menu-footer{
		width: 66.66666667%;
		float: left;
		@media only screen and (max-width: 768px){
			width: 94%;
			margin: 0 auto;
			float: none;
			&:after{
				display: block;
				content: " ";
				clear: both;
			}
		}
		li{
			width: 33.33%;
			float: left;
			@media only screen and (max-width: 450px){
				width: 100%;
				a{
					width: 100%;
				}
			}
			a{
				color:#fff;
				padding: 10px 0;
				display: block;
				font-size: 16px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.social-footer{
		width: 33.33333333%;
		@media only screen and (max-width: 768px){
			width: 94%;
			margin: 20px auto;
			float: none;
			&:after{
				display: block;
				content: " ";
				clear: both;
			}
		}
		nav{
			width: 48%;
			margin: 20px auto 0;
			ul{
				li{
					display: block;
					float: left;
					width: 25%;
					text-align: center;
					a{
						margin: 0 auto;
						img{
							height: 25px;
						}
					}
				}
			}
		}
	}
	.copy {
		.imgResponsive {
			width: 100%;
		}
	}
	p{
		font-size: 13px;
		margin: 25px 0 0;
		text-align: center;
	}
}