@charset "UTF-8";
/***************************************************
AUTOR: carmen Luyo
PROYECTO: urbaner
DESCRIPCIÓN: HOJA DE ESTILOS PARA EL HOME PAGE
****************************************************/
@import url(normalize.css);
body {
  font-family: 'ProximaNova'; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.green {
  color: #40df6d; }

.blue {
  color: #6caddf; }

.black {
  background: #303e47; }

/* Fonts */
@font-face {
  font-family: 'ProximaNova';
  src: url("../assets/fonts/ProximaNova.eot");
  src: url("../assets/fonts/ProximaNova.otf");
  src: url("../assets/fonts/ProximaNova.svg");
  src: url("../assets/fonts/ProximaNova.ttf");
  src: url("../assets/fonts/ProximaNova.woff"); }

a,
input[type=submit],
button,
.transit {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.btn-green {
  background: #40df6d;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 25px; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1140px; }

.subtitle {
  color: #606060;
  font-size: 30px; }
  @media only screen and (min-width: 1024px) {
    .subtitle {
      font-size: 45px; } }

header {
  padding: 20px 0; }
  header .logo {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0px;
    position: absolute; }
    header .logo .logo-i img {
      height: 50px; }
    header .logo .logo-i h1 {
      display: none; }
  header nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    header nav ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      header nav ul li a {
        color: #fff;
        font-size: 16px; }
    header nav ul .right {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-right: 0px; }
      header nav ul .right ul li {
        margin: 0 23px; }
        header nav ul .right ul li:last-child a {
          border: 2px solid #fff;
          border-radius: 20px;
          color: #fff;
          padding: 10px 35px; }
  @media only screen and (max-width: 768px) {
    header .logo {
      max-width: 174px;
      display: block;
      position: relative;
      margin: 0 auto; }
    header nav {
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      header nav ul {
        display: block !important; }
        header nav ul li {
          width: 100%;
          text-align: center;
          margin-left: 0 !important; }
          header nav ul li a {
            color: #fff;
            display: block;
            font-size: 22px;
            margin: 15px 0;
            width: 100%; }
      header nav.menu.opacity {
        display: none; }
    header #header-content {
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding-top: 20px; }
      header #header-content.active {
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 1; } }

.switch {
  width: 30px;
  height: 23px;
  position: absolute;
  left: 10%;
  top: 9%;
  margin: -15px 0px 0px -15px;
  cursor: pointer;
  z-index: 10; }
  .switch.on:after {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
    -ms-transform: rotate(-45deg) translate(7px, -8px);
    transform: rotate(-45deg) translate(7px, -8px); }
  .switch.on:before {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px); }
  @media only screen and (min-width: 1024px) {
    .switch {
      display: none; } }
  .switch .on {
    display: block; }

.switch .menu-toggle {
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 4px auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.switch.on .menu-toggle {
  opacity: 0; }

.switch:before, .switch:after {
  content: "";
  display: block;
  height: 5px;
  background: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row {
  margin-left: -14px;
  margin-right: -14px;
  min-height: 21px;
  margin-bottom: 3px;
  padding: 3px 0; }

[class*="col-"] {
  min-height: 7px;
  margin-bottom: 3px;
  padding: 0 14px;
  float: left; }

.col-4 {
  /* (4 / 12) x 100 */
  width: 33.33%; }

.h-login {
  height: 90px;
  line-height: 90px; }

.btn-login, .login form .btnLogin, .login form .loginFacebook {
  color: #fff;
  padding: 11px 0px;
  width: 100%;
  margin-top: 20px; }

.login {
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%; }
  .login form {
    width: 100%;
    padding: 0 20px; }
    .login form h3 {
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 24px; }
    .login form input[type="text"], .login form input[type="email"], .login form input[type="password"] {
      border: none;
      border-bottom: 2px solid #ccc;
      color: #000;
      font-size: 16px;
      outline: none;
      width: 100%;
      margin-bottom: 15px;
      margin-top: 5px; }
    .login form input#loginEmail {
      margin-bottom: 20px; }
    .login form .btnLogin {
      background-color: #40df6d;
      border: 2px solid #40df6d; }
    .login form .loginFacebook {
      background-color: #3b5998;
      border: 2px solid #3b5998; }
    .login form .olvidasteContrasena {
      margin-top: 20px; }
    .login form .registroCliente {
      color: #666; }
  @media only screen and (min-width: 768px) {
    .login form {
      width: 400px; } }

.activo {
  background-color: #f3f3f3;
  height: calc(100% - 90px);
  padding-top: 5%; }
  .activo .ctn-activo {
    text-align: center; }
    .activo .ctn-activo h4 {
      margin-top: 27px; }
    .activo .ctn-activo p {
      margin-top: 22px;
      color: #666; }
    .activo .ctn-activo button a {
      color: #fff; }

.select-nav {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 1px 2px 3px #ccc;
  box-shadow: 1px 2px 3px #ccc;
  padding: 20px 25px;
  width: 170px;
  z-index: 100; }
  .select-nav:before {
    border-bottom: 15px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    height: 0;
    position: absolute;
    content: ' ';
    left: 42%;
    top: -15px;
    width: 0; }
  .select-nav nav a {
    display: block;
    color: #303e47;
    font-size: 0.96em;
    padding: 3px 0; }

.my-account {
  cursor: pointer; }
  .my-account span {
    color: #fff;
    margin-right: 5px; }

.active {
  display: block;
  position: absolute;
  right: 148px;
  top: 88px; }

.black .right ul li:last-child a {
  border: none;
  border-radius: 0px; }

.black .right ul .perfil img {
  border-radius: 50%;
  height: 48px;
  width: 50px; }

.black .left ul li {
  margin: 0 23px; }

.banner {
  background-image: url(../assets/img/backgroundHomeD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px; }
  .banner .ctn-banner {
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    margin: 15% auto 0 auto;
    width: 80%; }
    .banner .ctn-banner h2 {
      text-transform: uppercase;
      text-shadow: 3px 0px 5px #585858;
      font-size: 1.8em;
      font-weight: bold;
      line-height: 35px; }
    .banner .ctn-banner p {
      font-size: 1.6em;
      display: none; }
    .banner .ctn-banner .btn-green {
      text-transform: uppercase;
      font-size: 16px;
      margin: 0 20px; }
    .banner .ctn-banner .btn-envios {
      margin-top: 20px;
      display: block; }
      .banner .ctn-banner .btn-envios a:first-child {
        margin-bottom: 25px;
        display: block; }
  @media only screen and (min-width: 768px) {
    .banner {
      height: 550px; }
      .banner .ctn-banner {
        width: 100%;
        margin: 0px; }
        .banner .ctn-banner h2 {
          font-size: 2.96em; }
        .banner .ctn-banner p {
          display: block; }
        .banner .ctn-banner .btn-envios {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .banner .ctn-banner .btn-envios a:first-child {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 0px; } }
  @media only screen and (min-width: 1024px) and (max-width: 767) {
    .banner .ctn-banner {
      top: 20%; } }
  @media only screen and (min-width: 1025px) {
    .banner .ctn-banner {
      top: 40%; } }

.beneficios .subtitle {
  text-align: center;
  margin: 30px 0;
  display: none; }

.beneficios .grid-beneficios {
  margin-top: 55px; }
  .beneficios .grid-beneficios article {
    width: 100%;
    padding: 0 40px; }
    .beneficios .grid-beneficios article figure {
      text-align: center; }
    .beneficios .grid-beneficios article h3 {
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      color: #333; }
    .beneficios .grid-beneficios article p {
      line-height: 22px; }

@media only screen and (min-width: 1024px) {
  .beneficios .subtitle {
    display: block; }
  .beneficios .grid-beneficios {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 0px; }
    .beneficios .grid-beneficios article {
      width: 30%;
      padding: 0px; } }

.envios {
  background-color: #f5f5f5;
  padding: 40px 0; }
  .envios .ctn-envios .center-text {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .envios .ctn-envios .center-text article {
      margin: 0 auto;
      width: 80%; }
  .envios .ctn-envios .tabs-envios {
    border-radius: 40px;
    overflow: hidden;
    margin-top: 15px; }
    .envios .ctn-envios .tabs-envios li {
      margin: 15px auto;
      width: 95%;
      text-align: center; }
      .envios .ctn-envios .tabs-envios li a {
        border: 1px solid;
        border-radius: 10px;
        background: #fff;
        color: #40df6d;
        cursor: pointer;
        display: block;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        padding: 10px 25px; }
      .envios .ctn-envios .tabs-envios li .activeImg {
        background: #40df6d !important;
        border-radius: 10px !important;
        color: #fff !important; }
  .envios .width-50 .listPC {
    position: relative;
    height: 180px; }
    .envios .width-50 .listPC figure {
      position: absolute;
      top: 0;
      right: 0; }
      .envios .width-50 .listPC figure img {
        position: relative;
        margin: 0 auto;
        width: 250px; }
  @media only screen and (min-width: 1024px) {
    .envios .ctn-envios {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .envios .ctn-envios .width-50 {
        width: 50%; }
        .envios .ctn-envios .width-50 .listPC {
          height: 330px; }
          .envios .ctn-envios .width-50 .listPC figure img {
            width: 480px; }
      .envios .ctn-envios .center-text article {
        width: 67%;
        max-width: 545px; }
      .envios .ctn-envios .tabs-envios {
        border: 2px solid #40df6d;
        margin-top: 50px; }
        .envios .ctn-envios .tabs-envios li {
          float: left;
          margin: 0;
          width: 33.3%; }
          .envios .ctn-envios .tabs-envios li .activeImg {
            border-radius: 30px !important; }
          .envios .ctn-envios .tabs-envios li a {
            border: none; } }

.patrocinadores {
  background: #6caddf;
  padding: 30px 0; }
  .patrocinadores h3 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 20px; }
  .patrocinadores .grid-patocinadores {
    display: block;
    text-align: center; }
  @media only screen and (min-width: 768px) {
    .patrocinadores .grid-patocinadores {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.ctn-registrate {
  text-align: center;
  padding: 20px 0; }
  .ctn-registrate p {
    color: #606060;
    font-size: 1.5em;
    margin-top: 20px;
    padding: 0 25px;
    line-height: 30px; }
  .ctn-registrate h2 {
    margin: 20px 0 5px 0; }
  .ctn-registrate a button {
    font-size: 1.3em;
    font-weight: bold; }
  @media only screen and (min-width: 1024px) {
    .ctn-registrate p {
      font-size: 1.8em;
      margin-top: 0px;
      padding: 0;
      line-height: normal; } }

.reconocimiento {
  background-color: #f5f5f5;
  padding: 70px 0; }
  .reconocimiento .list {
    display: block; }
    .reconocimiento .list article {
      background: #fff;
      padding: 40px 0 30px 0;
      margin: 40px auto 0 auto;
      width: 90%; }
      .reconocimiento .list article:nth-child(1) {
        border-top: 7px solid #40df6d; }
      .reconocimiento .list article:nth-child(2) {
        border-top: 7px solid #6caddf; }
      .reconocimiento .list article .description {
        margin: 0 auto;
        width: 90%; }
        .reconocimiento .list article .description p {
          color: #b2b2b2;
          text-transform: uppercase; }
        .reconocimiento .list article .description h3 {
          font-size: 24px;
          font-weight: bold; }
  .reconocimiento .listStartup {
    margin: 40px auto 0 auto;
    width: 89%; }
    .reconocimiento .listStartup .ctn-listStartup {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .reconocimiento .listStartup .ctn-listStartup figure {
        margin-top: 20px; }
  @media only screen and (min-width: 1024px) {
    .reconocimiento .list {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .reconocimiento .list article {
        width: 45%; } }

footer {
  color: #fff;
  padding: 50px 0 10px;
  background: #262f36; }
  @media only screen and (max-width: 768px) {
    footer .row {
      margin: 0px; }
    footer .col-4 {
      width: 94%;
      margin: 0 auto;
      float: none;
      text-align: center; }
      footer .col-4:after {
        display: block;
        content: " ";
        clear: both; } }
  footer .menu-footer {
    width: 66.66666667%;
    float: left; }
    @media only screen and (max-width: 768px) {
      footer .menu-footer {
        width: 94%;
        margin: 0 auto;
        float: none; }
        footer .menu-footer:after {
          display: block;
          content: " ";
          clear: both; } }
    footer .menu-footer li {
      width: 33.33%;
      float: left; }
      @media only screen and (max-width: 450px) {
        footer .menu-footer li {
          width: 100%; }
          footer .menu-footer li a {
            width: 100%; } }
      footer .menu-footer li a {
        color: #fff;
        padding: 10px 0;
        display: block;
        font-size: 16px; }
        footer .menu-footer li a:hover {
          text-decoration: underline; }
  footer .social-footer {
    width: 33.33333333%; }
    @media only screen and (max-width: 768px) {
      footer .social-footer {
        width: 94%;
        margin: 20px auto;
        float: none; }
        footer .social-footer:after {
          display: block;
          content: " ";
          clear: both; } }
    footer .social-footer nav {
      width: 48%;
      margin: 20px auto 0; }
      footer .social-footer nav ul li {
        display: block;
        float: left;
        width: 25%;
        text-align: center; }
        footer .social-footer nav ul li a {
          margin: 0 auto; }
          footer .social-footer nav ul li a img {
            height: 25px; }
  footer .copy .imgResponsive {
    width: 100%; }
  footer p {
    font-size: 13px;
    margin: 25px 0 0;
    text-align: center; }
