body {
  font-family: 'ProximaNova'; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.green {
  color: #40df6d; }

.blue {
  color: #6caddf; }

.black {
  background: #303e47; }

/* Fonts */
@font-face {
  font-family: 'ProximaNova';
  src: url("../assets/fonts/ProximaNova.eot");
  src: url("../assets/fonts/ProximaNova.otf");
  src: url("../assets/fonts/ProximaNova.svg");
  src: url("../assets/fonts/ProximaNova.ttf");
  src: url("../assets/fonts/ProximaNova.woff"); }

a,
input[type=submit],
button,
.transit {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.btn-green {
  background: #40df6d;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 25px; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1140px; }

.subtitle {
  color: #606060;
  font-size: 30px; }
  @media only screen and (min-width: 1024px) {
    .subtitle {
      font-size: 45px; } }

header {
  padding: 20px 0; }
  header .logo {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0px;
    position: absolute; }
    header .logo .logo-i img {
      height: 50px; }
    header .logo .logo-i h1 {
      display: none; }
  header nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    header nav ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      header nav ul li a {
        color: #fff;
        font-size: 16px; }
    header nav ul .right {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-right: 0px; }
      header nav ul .right ul li {
        margin: 0 23px; }
        header nav ul .right ul li:last-child a {
          border: 2px solid #fff;
          border-radius: 20px;
          color: #fff;
          padding: 10px 35px; }
  @media only screen and (max-width: 768px) {
    header .logo {
      max-width: 174px;
      display: block;
      position: relative;
      margin: 0 auto; }
    header nav {
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      header nav ul {
        display: block !important; }
        header nav ul li {
          width: 100%;
          text-align: center;
          margin-left: 0 !important; }
          header nav ul li a {
            color: #fff;
            display: block;
            font-size: 22px;
            margin: 15px 0;
            width: 100%; }
      header nav.menu.opacity {
        display: none; }
    header #header-content {
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding-top: 20px; }
      header #header-content.active-menu {
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 1;
        right: 0px; } }

.switch {
  width: 30px;
  height: 23px;
  position: absolute;
  left: 10%;
  top: 9%;
  margin: -15px 0px 0px -15px;
  cursor: pointer;
  z-index: 10; }
  .switch.on:after {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
    -ms-transform: rotate(-45deg) translate(7px, -8px);
    transform: rotate(-45deg) translate(7px, -8px); }
  .switch.on:before {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px); }
  @media only screen and (min-width: 1024px) {
    .switch {
      display: none; } }
  .switch .on {
    display: block; }

.switch .menu-toggle {
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 4px auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.switch.on .menu-toggle {
  opacity: 0; }

.switch:before, .switch:after {
  content: "";
  display: block;
  height: 5px;
  background: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row {
  margin-left: -14px;
  margin-right: -14px;
  min-height: 21px;
  margin-bottom: 3px;
  padding: 3px 0; }

[class*="col-"] {
  min-height: 7px;
  margin-bottom: 3px;
  padding: 0 14px;
  float: left; }

.col-4 {
  /* (4 / 12) x 100 */
  width: 33.33%; }

.h-login {
  height: 90px;
  line-height: 90px; }

.btn-login, .login form .btnLogin, .login form .loginFacebook {
  color: #fff;
  padding: 11px 0px;
  width: 100%;
  margin-top: 20px; }

.login {
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%; }
  .login form {
    width: 100%;
    padding: 0 20px; }
    .login form h3 {
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 24px; }
    .login form input[type="text"], .login form input[type="email"], .login form input[type="password"] {
      border: none;
      border-bottom: 2px solid #ccc;
      color: #000;
      font-size: 16px;
      outline: none;
      width: 100%;
      margin-bottom: 15px;
      margin-top: 5px; }
    .login form input#loginEmail {
      margin-bottom: 20px; }
    .login form .btnLogin {
      background-color: #40df6d;
      border: 2px solid #40df6d; }
    .login form .loginFacebook {
      background-color: #3b5998;
      border: 2px solid #3b5998; }
    .login form .olvidasteContrasena {
      margin-top: 20px; }
    .login form .registroCliente {
      color: #666; }
  @media only screen and (min-width: 768px) {
    .login form {
      width: 400px; } }

.activo {
  background-color: #f3f3f3;
  height: calc(100% - 90px);
  padding-top: 5%; }
  .activo .ctn-activo {
    text-align: center; }
    .activo .ctn-activo h4 {
      margin-top: 27px; }
    .activo .ctn-activo p {
      margin-top: 22px;
      color: #666; }
    .activo .ctn-activo button a {
      color: #fff; }

.select-nav {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 1px 2px 3px #ccc;
  box-shadow: 1px 2px 3px #ccc;
  padding: 20px 25px;
  width: 170px;
  z-index: 100; }
  .select-nav:before {
    border-bottom: 15px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    height: 0;
    position: absolute;
    content: ' ';
    left: 42%;
    top: -15px;
    width: 0; }
  .select-nav nav a {
    display: block;
    color: #303e47;
    font-size: 0.96em;
    padding: 3px 0; }

.my-account {
  cursor: pointer; }
  .my-account span {
    color: #fff;
    margin-right: 10px; }

.active {
  display: block;
  position: absolute;
  right: 148px;
  top: 88px; }

.black .right ul li:last-child a {
  border: none;
  border-radius: 0px; }

.black .right ul .perfil img {
  border-radius: 50%;
  height: 48px;
  width: 50px; }

.black .left ul li {
  margin: 0 23px; }
