/* Fonts */
/* Regular */
@font-face {
  font-family: 'ProximaNova';
  src: url("../assets/fonts/ProximaNova.eot");
  src: url("../assets/fonts/ProximaNova.otf");
  src: url("../assets/fonts/ProximaNova.svg");
  src: url("../assets/fonts/ProximaNova.ttf");
  src: url("../assets/fonts/ProximaNova.woff"); }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/** texto centrado verticalmente - necesita un etiqueta padre con alto**/
.centerinfovert {
  display: table;
  width: 100%;
  height: 100%; }
  .centerinfovert .tr {
    display: table-row;
    width: 100%;
    height: 100%;
    vertical-align: middle; }
    .centerinfovert .tr .td {
      display: table-cell;
      vertical-align: middle; }

/** flex **/
.flex-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center; }

a,
input[type=submit],
button,
.transit {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.btn-green {
  background: #40df6d;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 25px; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1140px; }

.subtitle {
  color: #606060;
  font-size: 45px;
  font-family: 'ProximaNova'; }
