/* Fonts */
/* Regular */
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg"); }

/* Light */
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg"); }

/* Bold */
@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg"); }

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url("../fonts/AvenirLTStd-Roman-webfont.eot");
  src: url("../fonts/AvenirLTStd-Roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Roman.woff") format("woff"), url("../fonts/AvenirLTStd-Roman-webfont.ttf") format("truetype"), url("../fonts/AvenirLTStd-Roman-webfont.svg#OpenSansBold") format("svg"); }

@font-face {
  font-family: 'DidotLTStd-Headline';
  src: url("../fonts/DidotLTStd-Headline.eot?#iefix") format("embedded-opentype"), url("../fonts/DidotLTStd-Headline.otf") format("opentype"), url("../fonts/DidotLTStd-Headline.woff") format("woff"), url("../fonts/DidotLTStd-Headline.ttf") format("truetype"), url("../fonts/DidotLTStd-Headline.svg#DidotLTStd-Headline") format("svg"); }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/** apariencia de los botones en safari - compatibilidad **/
/** clear **/
.cleardiv:after, .cleardiv:before {
  content: "";
  display: block;
  clear: both; }

/** text oculto con puntos suspensivos **/
.hidetext {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

/** texto centrado verticalmente - necesita un etiqueta padre con alto**/
.centerinfovert {
  display: table;
  width: 100%;
  height: 100%; }
  .centerinfovert .tr {
    display: table-row;
    width: 100%;
    height: 100%;
    vertical-align: middle; }
    .centerinfovert .tr .td {
      display: table-cell;
      vertical-align: middle; }

/** **/
.icon-style {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/** Placerholder **/
/** flex **/
.r-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1001;
  width: 100%;
  height: 100%;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: all 0.65s ease;
  -moz-transition: all 0.65s ease;
  -ms-transition: all 0.65s ease;
  -o-transition: all 0.65s ease;
  transition: all 0.65s ease;
  opacity: 0;
  filter: alpha(opacity=0); }

.active-overlay {
  visibility: visible;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.flex-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center; }

a,
input[type=submit],
button,
.transit {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.reset {
  padding-left: 0;
  margin: 0; }

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none; }
  .list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px; }

.widthWeb {
  width: 95%;
  margin: auto;
  position: relative; }

.container {
  max-width: 1350px;
  margin: 0 auto;
  position: relative; }

/* *******/
.titulo-small {
  font-family: 'marsha';
  color: #d0ae5e; }

.logo h1 {
  display: none; }

/* Header */
header {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1500; }
  header .right-info .infos .email {
    display: none;
    font-size: 13px; }
  header .right-info .infos .phone {
    color: #313131;
    font-size: 13px; }
    header .right-info .infos .phone a {
      color: #fff;
      display: block;
      padding: 13px 0; }
      header .right-info .infos .phone a i {
        margin-right: 10px;
        font-weight: bold; }
  header .right-info .infos li {
    font-family: 'OpenSans'; }
    header .right-info .infos li:hover {
      color: #b07b08 !important; }
  header .right-info .socials {
    display: none;
    margin-right: 30px; }
  header .right-info .user-nav {
    position: absolute;
    right: 55px;
    top: 9px; }
    header .right-info .user-nav li {
      font-family: 'OpenSans'; }
      header .right-info .user-nav li a {
        text-transform: capitalize; }
        header .right-info .user-nav li a:hover {
          color: #b07b08 !important; }
      header .right-info .user-nav li ul {
        display: none; }
    header .right-info .user-nav > li > a {
      border: solid 1px #fff;
      color: #fff;
      display: block;
      text-align: center;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 50%;
      font-size: 12px; }
      header .right-info .user-nav > li > a i {
        line-height: 23px; }
      header .right-info .user-nav > li > a span {
        display: none; }
  header nav {
    display: none; }
    header nav ul {
      margin-right: 15px !important; }
  header .more-menu {
    display: none; }
  header .show-nav {
    width: 37px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 13px; }
    header .show-nav i {
      display: block;
      height: 3px;
      background-color: #d0ae5e;
      margin-bottom: 4px;
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      position: relative; }
      header .show-nav i:last-child {
        margin-bottom: 0; }
    header .show-nav.opened i:nth-child(2) {
      opacity: 0; }
    header .show-nav.opened i:nth-child(1) {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 8px;
      margin-bottom: 5px; }
    header .show-nav.opened i:nth-child(3) {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: -8px; }
  header #for-desktop {
    display: none; }

ul.menu-gral li a {
  display: block;
  background-color: #000;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-bottom: solid 1px rgba(214, 177, 94, 0.35);
  font-family: 'OpenSans';
  letter-spacing: 1px; }
  ul.menu-gral li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  ul.menu-gral li a:hover {
    color: #000; }
    ul.menu-gral li a:hover:before {
      opacity: 1; }

ul.menu-gral li ul {
  padding: 0;
  list-style-type: none; }
  ul.menu-gral li ul li a span:before {
    content: '>';
    display: inline-block;
    color: #d0ae5e;
    font-weight: bold;
    margin-right: 5px;
    padding-left: 12px; }

ul.menu-gral > li > a {
  text-transform: uppercase; }

ul.menu-gral > li:last-child a {
  border-bottom: 0; }

.socials li {
  padding: 0 1px; }
  .socials li a {
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.82);
    text-align: center;
    border-radius: 50%;
    color: #676767; }
    .socials li a i {
      font-size: 12px;
      display: block;
      line-height: 20px; }
    .socials li a span {
      display: none; }
    .socials li a:hover {
      background-color: #fff;
      color: #333; }

.for-mobile {
  background-image: url("../images/slide-bg-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute; }

@media only screen and (min-width: 768px) {
  header .right-info {
    display: block;
    float: right;
    color: #fff;
    position: relative;
    z-index: 150; }
    header .right-info .socials, header .right-info .infos {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; } }

@media only screen and (min-width: 768px) {
  header .logo {
    display: inline-block; }
  header .right-info {
    display: block; }
  header nav {
    display: block;
    position: absolute;
    right: 47px;
    top: 0; }
    header nav ul.menu-gral li {
      position: relative;
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      header nav ul.menu-gral li ul {
        position: absolute;
        min-width: 205px;
        left: 50%;
        margin-left: -102.5px;
        opacity: 0;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        max-height: 0;
        overflow: hidden; }
        header nav ul.menu-gral li ul:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 8px 10px;
          border-color: transparent transparent rgba(0, 0, 0, 0.67) transparent;
          position: absolute;
          left: 50%;
          top: -8px;
          margin-left: -10px; }
        header nav ul.menu-gral li ul li a {
          background-color: rgba(0, 0, 0, 0.67); }
          header nav ul.menu-gral li ul li a span:before {
            display: none; }
      header nav ul.menu-gral li:hover ul {
        opacity: 1;
        max-height: inherit;
        overflow: inherit; }
    header nav > ul.menu-gral > li {
      display: inline-block; }
      header nav > ul.menu-gral > li > a {
        background-color: transparent;
        border-bottom: 0;
        padding: 19px 6px;
        font-size: 14px; }
        header nav > ul.menu-gral > li > a:before {
          display: none; }
        header nav > ul.menu-gral > li > a:hover {
          color: #d0ae5e; }
  header .show-nav {
    top: 17px; }
  header #for-mobile {
    display: none; }
  header #for-desktop {
    display: block;
    z-index: 120; }
    header #for-desktop.opened {
      z-index: 190; }
  header .more-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 90%;
    max-width: 300px;
    z-index: 170;
    background-color: #fff;
    padding-top: 88px; }
    header .more-menu li a {
      padding: 16px 20px;
      background-color: transparent;
      color: #000 !important;
      border-bottom: solid 1px rgba(16, 16, 16, 0.17); }
    header .more-menu li ul {
      position: relative;
      opacity: 0;
      -webkit-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
      max-height: 0;
      overflow: hidden; }
      header .more-menu li ul li a {
        color: #000 !important;
        padding: 8px 20px; }
      header .more-menu li ul li.current-menu-item a {
        color: #000 !important; }
    header .more-menu li:hover ul {
      opacity: 1;
      max-height: inherit;
      overflow: inherit; }
  .for-mobile {
    display: none; }
  header {
    background-color: transparent; }
    header .logo {
      margin-top: 12px;
      float: left; }
      header .logo-gold {
        display: none; }
      header .logo-white {
        display: block;
        width: 110px; }
    header .right-info {
      display: block;
      float: right;
      color: #fff;
      position: relative;
      z-index: 150; }
      header .right-info .infos,
      header .right-info .socials,
      header .right-info .user-nav {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px; }
      header .right-info .infos li a {
        color: inherit;
        padding: 10px 0; }
      header .right-info .infos .phone {
        color: inherit; }
      header .right-info .infos .email {
        display: inline-block;
        margin-left: 20px; }
        header .right-info .infos .email a i {
          margin-right: 20px;
          font-weight: bold; }
      header .right-info .user-nav {
        position: static; }
        header .right-info .user-nav li ul {
          display: block;
          position: absolute;
          right: 0;
          min-width: 150px;
          text-align: right;
          opacity: 0;
          -webkit-transition: all 0.1s ease-out;
          -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
          max-height: 0;
          overflow: hidden; }
          header .right-info .user-nav li ul li a {
            background-color: rgba(0, 0, 0, 0.67); }
        header .right-info .user-nav li:hover ul {
          opacity: 1;
          max-height: inherit;
          overflow: inherit; }
        header .right-info .user-nav > li > a {
          width: auto;
          height: auto;
          line-height: normal;
          border: 0;
          color: inherit;
          font-size: 11px;
          text-transform: uppercase;
          padding: 12px 0; }
          header .right-info .user-nav > li > a span {
            display: inline-block; }
          header .right-info .user-nav > li > a i {
            margin-right: 10px;
            font-size: 15px; }
    header nav {
      position: absolute;
      float: right;
      margin-right: -9px;
      top: 39px; }
      header nav > ul.menu-gral > li > a {
        padding: 8px 15px; }
    header ul.menu-gral li a {
      color: #fff; }
    header .show-nav {
      top: 47px; }
      header .show-nav i {
        background-color: #fff; }
  .home-content {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    width: 100%;
    text-align: center; }
    .home-content .logo {
      display: none; } }

@media only screen and (min-width: 320px) {
  .titulo {
    font-size: 75px;
    width: 100%;
    display: block;
    font-family: 'SF-KingstonRegular';
    color: #d0ae5e;
    font-weight: 100; }
  .titulo-small {
    font-size: 35px; } }

.bg-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.footersec {
  background-image: url(../images/sub-contact.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .footersec footer {
    padding-top: 15px;
    width: 100%;
    display: block; }
    .footersec footer .content {
      width: 90%;
      margin: auto;
      max-width: 1247px;
      position: relative; }
      .footersec footer .content .sec_menus_footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        margin-bottom: 25px; }
        .footersec footer .content .sec_menus_footer .block {
          -webkit-box-flex: 1;
          flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1; }
          .footersec footer .content .sec_menus_footer .block h2 {
            text-transform: uppercase;
            color: #d6b15e;
            font-size: 17px;
            letter-spacing: 1px;
            font-family: 'OpenSans';
            font-weight: normal; }
          .footersec footer .content .sec_menus_footer .block ul {
            list-style: none;
            padding: 0;
            margin: 0; }
            .footersec footer .content .sec_menus_footer .block ul li a {
              color: #333;
              text-decoration: none;
              font-size: 12px;
              font-family: 'OpenSans'; }
              .footersec footer .content .sec_menus_footer .block ul li a:hover {
                color: #d0ae5e;
                -webkit-transition: all 0.5s ease-out;
                -o-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out; }
    .footersec footer .ftr {
      padding: 20px 0 30px 0; }
      .footersec footer .ftr .content {
        width: 90%;
        margin: auto;
        max-width: 1247px;
        position: relative; }
        .footersec footer .ftr .content .partners {
          right: 0;
          top: -12px;
          padding: 0; }
        .footersec footer .ftr .content .socials {
          padding: 0;
          position: relative;
          text-align: center;
          margin: 0px; }
          .footersec footer .ftr .content .socials li {
            padding: 0 1px; }
            .footersec footer .ftr .content .socials li a {
              background-color: #474747;
              color: #eaeaea; }
        .footersec footer .ftr .content .copyr {
          left: 0;
          position: absolute;
          padding: 0;
          top: -7px;
          text-transform: uppercase; }
          .footersec footer .ftr .content .copyr p {
            margin: 0;
            font-family: 'OpenSansLight';
            font-size: 11px;
            color: #a2a2a2; }
        .footersec footer .ftr .content .by {
          position: absolute;
          padding: 0;
          top: -7px;
          text-transform: uppercase; }
          .footersec footer .ftr .content .by p {
            font-family: 'OpenSansLight';
            font-size: 9px;
            color: #474747; }
          .footersec footer .ftr .content .by a {
            border: 1px solid #7B7979;
            display: inline-block;
            color: #7B7979;
            padding: 2px 6px 1px 6px;
            margin-left: 3px;
            font-size: 11px; }

/*# sourceMappingURL=style.css.map */