@charset "utf-8";

// colores de la website

$colorWeb: #40df6d; // green urbaner
$colorgray:#b6b4ae; // gray

body {
  font-family: 'ProximaNova';
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: 'ProximaNova';
  src: url('../assets/fonts/ProximaNova.eot');
  src: url('../assets/fonts/ProximaNova.otf');
  src: url('../assets/fonts/ProximaNova.svg');
  src: url('../assets/fonts/ProximaNova.ttf');
  src: url('../assets/fonts/ProximaNova.woff');

}


@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

a,
input[type=submit],
button,
.transit {
    transition: all 0.5s ease-out;
}

.btn-green {
  background: $colorWeb;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 25px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1140px;
}
.subtitle {
  color: #606060;
  font-size: 30px;
  @media only screen and (min-width: 1024px) {
    font-size: 45px;
  }
}
.green {
  color: $colorWeb;
}
.blue {
  color: #6caddf;
}

footer {
  background: #262f36;
}

// responsive

@media only screen and (min-width:768px){

}






@media only screen and (min-width: 1366px) {

}

// grillas

.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.row {
  margin-left: -14px;
  margin-right: -14px;
  min-height: 21px;
  margin-bottom: 3px;
  padding: 3px 0;
}

[class*="col-"] {
  min-height: 7px;
  margin-bottom: 3px;
  padding: 0 14px;
  float: left;
}

.col-4 {
  /* (4 / 12) x 100 */
  width: 33.33%;
}


//login

.black {
      background: #303e47;
}
.btn-login {
  color: #fff;
  padding: 11px 0px;
  width: 100%;
  margin-top: 20px;
}


.login {
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    width: 400px;
    h3 {
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 24px;
    }
    input[type="text"], input[type="email"], input[type="password"] {
      border: none;
      border-bottom: 2px solid #ccc;
      color: #000;
      font-size: 16px;  
      outline: none;
      width: 100%;
      margin-bottom: 15px;
      margin-top: 5px;
    }
    input#loginEmail {
        margin-bottom: 20px;
    }
    .btnLogin{
      @extend .btn-login;
      background-color: $colorWeb;
      border: 2px solid $colorWeb;
      
    }
    .loginFacebook {
       @extend .btn-login;
      background-color: #3b5998;
      border: 2px solid #3b5998;
    }
    .olvidasteContrasena {
          margin-top: 20px;

    }
    .registroCliente {
          color: #666;
    }
  }
}

//active

.activo {
  background-color: #f3f3f3;
  height: calc(100% - 90px);
  padding-top: 5%;
  .ctn-activo {
    text-align: center;
    h4 {
      margin-top: 27px;
    }
    p {
      margin-top: 22px;
      color: #666;
    }
    button {
      a{
        color: #fff;
      }
    }
  }
}